<div class="roles">
	<select name="role" size="5" multiple="multiple">
		[% WHILE (role = roles_rs.next) %]
			<option value="[% role.id %]" [% IF user.has_role(role) %] selected="selected" [% END %]>
				[% role.role %]
			</option>
		[% END %]
	</select>
</div>
