<html>
	<head>
		<title>Profile of [% user.username %]</title>
	</head>
	<body>
		[% FOREACH col = users_rs.result_source.columns %]
			<div>
				<span>[% col %]:</span>
				<span>[% user.$col %]</span>
			</div>
		[% END %]
		<div>
			<span>role:</span>
			<span>[% user.role_names %]</span>
		</div>
		<a href="[% c.uri_for(c.controller(authusers).action_for('edit'), [user.id]) %]">
			Edit
		</a>
	</body>
</html>
